div.side-panel {
  grid-area: side-panel;
  border: 2px solid #5e81ac;
  border-radius: 16px;
  width: 370px;

  display: grid;
  grid: "moves" 1fr "controls" auto/ 1fr;
  gap: 8px;
}

div.moves {
  grid-area: moves;
}

div.controls {
  grid-area: controls;
}

div.move {
  display: flex;
  gap: 16px;
  padding: 5px;
  padding-left: 20px;
}

div.current-move {
  background-color: #4c566a;
}
